@import compass

+global-reset

html *
  +box-sizing(border-box)

html, body
  height: 100%
  margin: 0
  overflow: hidden
  padding: 0
  width: 100%


.core-entity
  &.board
    margin: auto
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background: linear-gradient(-45deg, #92baac 45px, transparent 45px)64px 64px, linear-gradient(-45deg, #92baac 45px, transparent 45px, transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px), linear-gradient(-135deg, #92baac 23px, transparent 23px, transparent 68px ,#92baac 68px ,#92baac 113px, transparent 113px, transparent 158px ,#92baac 158px)
    background-color: #e1ebbd
    background-size: 128px 128px
    overflow: hidden
  &.player
    background-color: black
  &.boundary
    background-color: red
