@import compass

+global-reset

html *
  +box-sizing(border-box)

html, body
  height: 100%
  margin: 0
  overflow: hidden
  padding: 0
  width: 100%


.core-entity
  &.root
    margin: auto
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    width: 500px
    height: 300px
    border: 2px solid black
  &.game-board
    background-color: rgba(0, 255, 0, 0.3)
  &.player
    background-color: black
