@import compass

+global-reset

html *
  +box-sizing(border-box)

html, body
  height: 100%
  margin: 0
  overflow: hidden
  padding: 0
  width: 100%


.core-entity
  &.board
    margin: auto
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background: url(http://subtlepatterns.com/patterns/eight_horns.png)
  &.player
    background-color: black
  &.boundary
    background-color: red
